.control{
    padding-top: 1%;
    padding-right: 1%;
    padding-bottom: 2%;
}

.tile {
    margin-top: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1em;
    height: 100%;
  }