<section class="hero is-dark has-text-centered">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        FORUM
      </h1>
    </div>
  </div>
</section>

<div class="has-text-right has-text-white control">
  <a class="button is-primary is-medium is-rounded" routerLink="/question">
    Postavi vprašanje
  </a>
</div>

<!-----
<div class="container tabel-wraper" *ngIf="forums && forums.length > 0">
  <table class="table is-fullwidth">
      <tr>
        <th>Title</th>
        <th>Question</th>
        <th>Go to question</th>
      </tr>
      <tr *ngFor="let forum of forums; let i = index">
        <td>{{forum.title}}</td>
        <td>{{forum.question}}</td>
        <td><a class="button is-rounded is-success" (click)="getId(forum, i)" routerLink = "/comment" >
          Thread
        </a>
      </tr>
  </table>
</div>
 routerLink = "/comment" pri gumbu! ------>

<div class="container">
  <div class="tile is-ancestor" *ngIf="forums && forums.length > 0">
    <div class="tile is-vertical is-parent" *ngFor="let forum of forums; let i = index">
      <div class="tile is-child box">
        <p class="title">{{forum.title}}</p>
        <p>Vprašanje: <b>{{forum.question}}</b></p>

        <br>
        <p><a class="button is-rounded is-danger" (click)="getId(forum, i)" routerLink="/comment">Vstopi</a></p>
      </div>
    </div>
