<!--
<br>
<footer>
    <section class="hero is-success is-medium">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
              Footer for random shit
            </h1>
            <h2 class="subtitle">
              privacy and balls
            </h2>
          </div>
        </div>
      </section>
</footer>
-->