<section class="hero is-dark has-text-centered">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          VPIŠI SE!
        </h1>
      </div>
    </div>
</section>


<div class="login-form container has-text-centered">

    <form (submit)="onLoginSubmit()">
      <div class="form-group">
        <label class="label has-text-centered has-text-black">Uporabniško ime</label>
        <input type="text" [(ngModel)]="username" name="username" class="form-control, is-black input is-rounded">
      </div>

      <div class="form-group">
        <label class="label has-text-centered has-text-black">Geslo</label>
        <input type="password" [(ngModel)]="password" name="password" class="form-control, is-black input is-rounded">
      </div>

      <div class="control has-text-centered">
        <input type="submit" class="button is-medium is-primary" value="Vpiši se">
      </div>
    </form>

</div>