<section class="hero is-dark has-text-centered">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        DODAJ VARSTVO
      </h1>
    </div>
  </div>
</section>

<div class="add-form container has-text-centered">
  <form (submit)="onAddCareSubmit()">
    <div class="form-group">
      <label class="label has-text-centered has-text-black">Ime</label>
      <input type="text" [(ngModel)]="name" name="name" placeholder="Name..." class="form-control, is-black input is-rounded">
    </div>

    <div class="form-group">
      <label class="label has-text-centered has-text-black">Priimek</label>
      <input type="text" [(ngModel)]="surname" name="surname" placeholder="Surname..."
        class="form-control, is-black input is-rounded">
    </div>

    <div class="form-group">
      <label class="label has-text-centered has-text-black">Naslov</label>
      <input type="address" [(ngModel)]="address" name="address" placeholder="Address..."
        class="form-control, is-black input is-rounded">
    </div>

    <div class="form-group">
      <label class="label has-text-centered has-text-black">Mesto</label>
      <input type="city" [(ngModel)]="city" name="city" placeholder="City..." class="form-control, is-black input is-rounded">
    </div>

    <div class="form-group">
      <label class="label has-text-centered has-text-black">Opis</label>
      <textarea type="description" [(ngModel)]="description" placeholder="Description..." name="description"
        class="form-control textarea is-black "></textarea>
    </div>
<!---------------------------------------------------------------------------------------------------------------------
    <div class="level">
      <div class="form-group">
        <label class="label has-text-centered has-text-black">Date From</label>
        <input type="datefrom" [(ngModel)]="datefrom" name="datefrom" placeholder="Date from..."
          class="form-control, input is-rounded">
      </div>

      <div class="form-group">
        <label class="label has-text-centered has-text-black">Date To</label>
        <input type="dateto" [(ngModel)]="dateto" name="dateto" placeholder="Date to..."
          class="form-control, input is-rounded">
      </div>

      <div class="form-group">
        <label class="label has-text-centered has-text-black">Time</label>
        <input type="" [(ngModel)]="time" name="time" placeholder="Time..." class="form-control, input is-rounded">
      </div>
    </div>
------------------------------------------------------------------------------------------------------------------------->
    <div class="level">
      <div class="form-group">
        <label class="label has-text-centered has-text-black">Cena</label>
        <input type="price" [(ngModel)]="price" name="price" placeholder="Price..."
          class="form-control, is-black input is-rounded">
      </div>

      <div class="form-group">
        <label class="label has-text-centered has-text-black">Telefonska številka</label>
        <input type="phone" [(ngModel)]="phone" name="phone" placeholder="Phone..."
          class="form-control, is-black input is-rounded">
      </div>
    </div>

    <div class="control has-text-centered">
      <input type="submit" class="button is-medium is-primary" value="Oddaj">
    </div>
  </form>
</div>
