<section class="hero is-dark">
  <div class="hero-body">
    <div class="container">
      <h1 *ngIf="forum" class="title">
        {{forum.title}}
      </h1>
      <h2 *ngIf="forum" class="subtitle">
        {{forum.question}}
      </h2>
    </div>
  </div>
</section>

<div class="container">
  <div class="media-content coments" *ngIf="forum">
    <div class="box" *ngFor="let comment of comments">
      <p>{{comment.comment}}</p>
    </div>
  </div>
</div>

<footer>
  <form (submit)="onAddCommentSubmit()">
    <div class="main">
      <div class="section">
        <article class="media">
          <div class="media-content">
            <div class="field">
              <p class="control">
                <textarea class="textarea is-small" type="text" [(ngModel)]="comment" name="comment"
                  placeholder="Dodaj komentar..."></textarea>
              </p>
            </div>
          </div>
          <figure class="control media-right">
            <input type="submit" class="button is-primary" value="Oddaj">
          </figure>
        </article>
      </div>
    </div>
  </form>
