.tile {
    margin-top: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1em;
    height: 100%;
  }

.level{
    padding-top: 2%;
    padding-right: 2%;
}
