<div *ngIf="user">
  <section class="hero is-dark has-text-centered">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-uppercase">
          To je tvoj profil, {{user.name}}!
        </h1>
      </div>
    </div>
  </section>

  <!------------------------------------------------------------------------------
<div class="table-style container" *ngIf="cares && cares.length > 0">
    <table class="table is-fullwidth">
        <tr>
          <th>Name</th>
          <th>Surname</th>
          <th>Address</th>
          <th>City</th>
          <th>Description</th>
          <th>From</th>
          <th>To</th>
          <th>Time</th>
          <th>Price</th>
          <th>Phone number</th>
          <th>Delete</th>
        </tr>
        <tr *ngFor="let care of cares; let i = index">
          <td>{{care.name}}</td>
          <td>{{care.surname}}</td>
          <td>{{care.address}}</td>
          <td>{{care.city}}</td>
          <td>{{care.description}}</td>
          <td>{{care.datefrom | date: 'dd .MM. yyyy'}}</td>
          <td>{{care.dateto  | date: 'dd. MM. yyyy'}}</td>
          <td>{{care.time}}</td>
          <td>{{care.price}}</td>
          <td>{{care.phone}}</td>
          <td><a class="button is-rounded is-danger" (click)="deleteCare(care, i)">
            Delete
          </a>
        </tr>
    </table>
  </div>
------------------------------------------------------------------------------>

  <!--- Here are posts if user is adding care -->
  <div class="level">
    <div class="level-left"></div>
    <div class="level-right">
      <div class="container has-text-centered has-text-white control">
        <a *ngIf="authService.loggedIn()" class="button is-primary is-medium is-rounded" routerLink="/addcare">
          Dodaj varstvo
        </a>
        <a *ngIf="authService.loggedIn()" class="button is-primary is-medium is-rounded" routerLink="/addsearchcare">
          Iščem varstvo
        </a>
      </div>
    </div>
  </div>

  <div class="container"> 
    <h2>MOJA OBJAVLJENA VARSTVA</h2>
  </div>

  <div class="container">
    <div class="tile is-ancestor" *ngIf="cares && cares.length > 0">
      <div class="tile is-vertical" *ngFor="let care of cares; let i = index">
        <div class="tile is-child box">
          <p class="title">{{care.name}} {{care.surname}}</p>
          <p>Naslov: <b>{{care.address}}</b></p>
          <p>Mesto: <b>{{care.city}}</b></p>
          <p>Opis: <b>{{care.description}}</b></p>
          <!---------------------------------------------------------------------------------------------------------------
            <p>Od: <b>{{care.datefrom | date: 'dd .MM. yyyy'}}</b> do: <b>{{care.dateto  | date: 'dd. MM. yyyy'}}</b></p>
          <p>Kdaj: <b>{{care.time}}</b></p> 
          ------------------------------------------------------------------------------------------------------------------->
          <p>Cena: <b>{{care.price}}</b></p>
          <p> Kontakt: <b>{{care.phone}}</b></p>
          <br>
          <p><a class="button is-rounded is-danger" (click)="deleteCare(care, i)">Izbriši</a></p>
        </div>
      </div>
    </div>
  </div>
  <br>

  <!--- Here are posts if user is searching fo care -->
  <div class="container">
    <h2>MOJA ISKANA VARSTVA</h2>
  </div>

  <div class="container">
    <div class="tile is-ancestor" *ngIf="searchcares && searchcares.length > 0">
      <div class="tile is-vertical" *ngFor="let searchcare of searchcares; let i = index">
        <div class="tile is-child box">
          <p class="title">{{searchcare.name}} {{searchcare.surname}}</p>
          <p>Opis: <b>{{searchcare.description}}</b></p>
          <p>Od: <b>{{searchcare.datefrom | date: 'dd .MM. yyyy'}}</b> do:
            <b>{{searchcare.dateto | date: 'dd. MM. yyyy'}}</b></p>
          <p>Kdaj: <b>{{searchcare.time}}</b></p>
          <p> Kontakt: <b>{{searchcare.phone}}</b></p>
          <br>
          <p><a class="button is-rounded is-danger" (click)="deleteSearchCare(searchcare, i)">Izbriši</a></p>
        </div>
      </div>
    </div>
  </div>
