<section class="hero is-dark has-text-centered">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          POSTAVI VPRAŠANJE
        </h1>
      </div>
    </div>
  </section>

  <div class="add-form container has-text-centered">
    <form (submit)="onQuestionSubmit()">

        <div class="form-group">
            <label class="label has-text-centered has-text-black">Naslov</label>
            <input type="text" [(ngModel)]="title" name="title" placeholder="Naslov..." class="form-control, input is-rounded">
        </div>

        <div class="form-group">
            <label class="label has-text-centered has-text-black">Opis</label>
            <textarea type="text" [(ngModel)]="question" name="question" placeholder="Vprašanje..." class="textarea"></textarea>
        </div>

        <div class="control has-text-centered">
        <input type="submit" class="button is-medium is-primary" value="Oddaj vprašanje">
    </div>
    </form>
  </div>