<div class="top-bar">
<app-navbar></app-navbar>
</div>

<router-outlet></router-outlet>

<section class="section has-text-centered">
    <div>
        <div class="flash has-background-danger has-text-white">
            <flash-messages></flash-messages>
        </div>
    </div>
</section>

<!--<app-footer></app-footer>-->

