<section class="hero is-dark has-text-centered">
  <div class="hero-body">
    <h1 class="title">
      ISKANA VARSTVA
    </h1>
  </div>
</section>
<br>

<!------------------------------------------------------------------------------
  <div class="container tabel-wraper" *ngIf="cares && cares.length > 0">
    <table class="table is-fullwidth">
      <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Address</th>
        <th>City</th>
        <th>Description</th>
        <th>From</th>
        <th>To</th>
        <th>Time</th>
        <th>Price</th>
        <th>Phone number</th>
      </tr>
      <tr *ngFor="let care of cares; let i = index">
        <td>{{care.name}}</td>
        <td>{{care.surname}}</td>
        <td>{{care.address}}</td>
        <td>{{care.city}}</td>
        <td>{{care.description}}</td>
        <td>{{care.datefrom | date: 'dd .MM. yyyy'}}</td>
        <td>{{care.dateto  | date: 'dd. MM. yyyy'}}</td>
        <td>{{care.time}}</td>
        <td>{{care.price}}</td>
        <td>{{care.phone}}</td>
      </tr>
    </table>
  </div>
  <br>
  <br>
  -------------------------------------------------------------------------------->

<div class="container">
  <div class="tile is-ancestor" *ngIf="cares && cares.length > 0">
    <div class="tile is-vertical is-parent" *ngFor="let care of cares; let i = index">
      <div class="tile is-child box">
        <p class="title">{{care.name}} {{care.surname}}</p>
        <p>Opis: <b>{{care.description}}</b></p>
          <p>Od: <b>{{care.datefrom | date: 'dd .MM. yyyy'}}</b> do: <b>{{care.dateto  | date: 'dd. MM. yyyy'}}</b></p>
          <p>Kdaj: <b>{{care.time}}</b></p>
        <p>Kontakt: <b>{{care.phone}}</b></p>
      </div>
    </div>
