<section class="hero is-dark is-fullheight">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-black">
        PetNet
      </h1>
      <h2 class="subtitle has-text-black">
        Več o projektu najdete spodaj.
      </h2>
    </div>
  </div>
</section>

<section class="hero is-black is-fullheight">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        O PROJEKTU
      </h1>
      <h2 class="subtitle">
        PetNet je projekt za pomoč lastnikom domačih živali v stiski. Na voljo je tistim ljudem, ki nimajo možnosti v celoti poskrbeti
        za domačo žival, ko so v službi, na potovanju ali preprosto nimajo časa poskrbeti za svojega ljubljenčka.
      </h2>
    </div>
  </div>
</section>
