<header class="header">

  <nav class="navbar is-black" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" routerLink="/">
        <img src="assets/img/rsz_mylogo.png" height="70" width="25">
      </a>

      <a role="button" class="navbar-burger burger" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');" aria-label="menu" aria-expanded="false"
        data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" routerLink="/">
          Domov
        </a>
        <a *ngIf="authService.loggedIn()" class="navbar-item" routerLink="forum">
          Forum
        </a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">

            <a *ngIf="authService.loggedIn()" class="button is-light is-rounded" routerLink="dashboard">
              Varstva
            </a>

            <a *ngIf="authService.loggedIn()" class="button is-light is-rounded" routerLink="searchcare">
              Iščem varstvo
            </a>

            <a *ngIf="authService.loggedIn()" class="button is-light is-rounded" routerLink="profile">
              Profil
            </a>

            <a *ngIf="!authService.loggedIn()" class="button is-primary is-rounded" routerLink="register">
              <strong>Registracija</strong>
            </a>
            <a *ngIf="!authService.loggedIn()" class="button is-light is-rounded" routerLink="login">
              Vpis
            </a>
            <a *ngIf="authService.loggedIn()" class="button is-rounded is-danger" (click)="onLogoutClick()" href="#">
              Izpis
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>

</header>
